body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
 background-color: #F4C2C2; 
 height: 100px; 
 width: 100%; 
 display: flex;
}


.navbar {
    display: flex;
    gap: 50px;
    z-index: 100;
    opacity: none;
    z-index: 1;
}

.navbar ul{
   display: flex; 
    text-decoration:none ;
    gap: 100px;
    margin-left: 200px;
    list-style: none;
    margin-top: 50px;
    opacity: none;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: medium;
    font-weight: bold;
   font-family: serif;
   opacity: none;
    
}
.navbar ul li a:hover {
   cursor: pointer;
   color: #ea8282;
   transition: 0.1s;
   box-shadow:5px 5px;
   opacity: none ;

}



.navbar img {
   height: 100px; 
   width: 100px;
   border-radius: 50px;
   border: 0.6px solid black;
   opacity: none;
}

section{
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(background.avif);
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    z-index: 0;
}

.title h3 {
    text-align: center;
    font-family: serif;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
}

.feedback.form {
    position: relative;
    z-index: 1;
    
    border-radius: 15px;
    padding: 40px 50px;
    width: 60%;             
    max-width: 800px;
    box-sizing: border-box;
}

/*footer section*/

.footer {
    background-color: #F4C2C2;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
    position: relative;
}

.facebook, .whatsapp{
    display: flex;
    align-items: center;
    gap: 8px;
}

.facebook img, .whatsapp img{
    height: 60px;
    width:  60px;
    border-radius: 50%;

}


.whatsapp p, .facebook p{
    font-size: 18px;
    font-family: serif;
    font-weight: bold;
    margin: 0;
}



.copyright {
    font-size: 18px;
    font-family: serif;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

